$cream: #f4f2de;
$black: #000000;
$grey: #1d1d1d;
$grey-lite: #393e46;
$grey-hard: #222831;
$grey-mega-lite: #fff6;
$orange: #b77900;
$orange-hover: #e64a19;
$white: #ffffff;
$red: #ff0000;
$red-price: #c82121;
$blue: #00869c;
$neon: #00ffff;
$green: #7dd87d;
