@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:wght@500;600&family=Titillium+Web:wght@200;300;400;600;700&display=swap");

$font-family-default: "Titillium Web", sans-serif;

h1 {
  font-size: 40px;
  line-height: 56px;
  font-weight: 600;
  font-family: $font-family-default;
}

h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  font-family: $font-family-default;
}
h5 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-family: $font-family-default;
}

h6 {
  font-size: 12px;
  line-height: 16px;
  font-weight: 300;
  font-family: $font-family-default;
}

p {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-family: $font-family-default;
}

li {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-family: $font-family-default;
}

a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 400;
  font-family: $font-family-default;
}
